$sky:blue;
$sand:yellow;
$wall:yellow;
$roof:yellow;
$wood:wood;
$glass:glass;



body {background: rgb(176,212,227); /* Old browsers */
background: linear-gradient(rgba(176,212,227,1),rgba(136,186,207,1)); /* W3C */
background-repeat: no-repeat;
background-size: cover;
height: 600px;
	div{
		#stage{
			#spinner {
				.face1{

				}
				.face2{

				}
				.face3{

				}
				.face4{

				}
				.face5{

				}
				.face6{

				}
			}
		}
	}
}